<mat-card style="width: 1800px;">

    <h4>Please select a table</h4>

    <mat-form-field appearance="fill" style="display:block">

        <mat-select matNativeControl [(value)]="selectedTable">
            <mat-option value="customer">Customer</mat-option>
        </mat-select>

    </mat-form-field>

    <button mat-raised-button color="primary" style="width: 100%;" (click)='loadEntries()' [disabled]='!selectedTable'>Load entries</button>

    <mat-card-content style="margin-top: 0.5rem;">

        <app-audit-entries-table [entries]='entries' *ngIf='entries'></app-audit-entries-table>

    </mat-card-content>

</mat-card>