<mat-card>

    <h4>Please select a table</h4>

    <mat-form-field appearance="fill" style="display:block">

        <mat-select matNativeControl required>
            <mat-option value="volvo">Customer</mat-option>
            <mat-option value="saab">Table 1</mat-option>
            <mat-option value="mercedes">Table 2</mat-option>
            <mat-option value="audi">Table 3</mat-option>
        </mat-select>
       
    </mat-form-field>

    <button mat-raised-button color="primary" style="width: 100%;">Load entries</button>

    

</mat-card>